# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.DataStructures.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\timot\OneDrive\Documents\UnityProjects\DataStructures\DataStructures\.idea\.idea.DataStructures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
